 {% extends 'app/base.html' %}
 {% block content %}
    {% if seller != None %}
        <h3>{{seller.username}}'s products</h3>
    {% else %}
        {% if user.is_authenticated %}     
            <a class="btn btn-warning sell" href="{% url 'product_new' %}">Sell new product</a>
        {% endif %}    
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Looking for a specific product?</h3>
            </div>
            <div class="panel-body row">
                <form class="navbar-form navbar-left" action="{% url 'advanced_search' %}" method="get">
                    {% for field in search_form %}
                        <div class="col-sm-4 col-md-4">
                        <p class="labl">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            </p>
                            <p>{{ field }}</p>
                        </div>
                    {% endfor %}
                    <div class="col-sm-4 col-md-4 center">
                        <p></p>
                        <button type="submit" id="search-btn" class="btn btn-default">Search</button>
                    </div>
                </form>            
            </div>
        </div>  
    {% endif %}
    {% for product in products %}
        <div class="thumbnail">
            <div class="categ">{{ product.category }}</div>
            <img src="{{ media_url }}{{ product.photo }}" alt="{{ product.photo }}">
            <div class="caption">
                <h3><a href="{% url 'product_detail' pk=product.pk %}">{{product.title}}</a></h3>
                <p>{{ product.description|truncatewords:20 }}</p>                    
                <p>{{ product.current_price }} €</p>
                {% if product.purchased %}
                    <h4 class="sold">SOLD</h4>              
                {% else %}
                    <p><a href="{% url 'product_detail' pk=product.pk %}" class="btn btn-success" role="button">Buy</a></p>                            
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}