@font-face {
    font-family: 'AlexBrush';
    src: url('AlexBrush-Regular.ttf') format('truetype');
}
body {
    padding-top : 7%;
}
.navbar-brand {
    font-family: 'AlexBrush';
    font-size: 25px;
}
.navbar-default {
    background-image: linear-gradient(to bottom,#ffaa33 0,#ff9400 100%);
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > .active > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;    
}
.img {
    max-width: 100%;
}
.media-object {
    max-width: 20%;
}
.date {
    float: right;
    color: #828282;
}
.sale-date {
    color: #828282;
}
.price {
    color: #FA58AC;
    font-weight: bold;
}
.seller {
    color: #828282;
    font-weight: bold;
    font-style: italic;    
}
.history-title {
    color: #828282;
    font-weight: bold;
    font-style: italic;   
    text-align: center;     
}
.highest-bidder {
    color: #5FB404;
    font-weight: bold;
    font-style: italic;   
    text-align: center;     
}
.not-highest-bidder {
    color: #FA8258;
    font-weight: bold;
    font-style: italic;   
    text-align: center;     
}
.bid-amount {
    color: #FA58AC;
    font-style: italic;        
}
.categ {
    text-align: right;
    color: #F5BCA9;
    font-weight: bold;
    margin-bottom: 1%;
}
.btn-success {
    background-color: #F781D8;
    border-color: #FA58AC;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-color: #FA58AC;
    border-color: #FF0080;
}
.save {
    float: right;
    margin-right: 2%;
}
a {
    color: #FE642E;
}
.sell {
    margin-bottom: 3%;
}
.sold {
    color: #FF0080;
    font-weight: bold;
}
.center {
    text-align: center;
}
#search-btn {
    margin: auto;
    margin-top: 7%;
    width: 100%;
}
.labl {
    margin-bottom: 0px;
}
.type-sale {
    color: #DF7401;
    font-weight: bold;
    font-style: italic;
}
.alert-warning {
    color: #DF7401;   
    font-style: italic;     
}
.post-form textarea, .post-form input {
    width: 100%;
}
.social-button {
    width: 25px;
    margin: 2px;
}
.social-share {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}