{% extends "app/base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if user_form.errors %}
            {% for field in user_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in user_form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% if profile_form.errors %}
            {% for field in profile_form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in profile_form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% if user.is_authenticated %}
            <button type="submit">Save changes</button>
        {% else %}
            <button type="submit">Sign up</button>
        {% endif %}        
    </form>
    {% if user.is_authenticated %}    
        <a class="btn btn-danger" href="{% url 'delete_profile' %}">Delete account</a>  
    {% endif %}        
{% endblock %}