{% extends 'app/base.html' %}

{% block content %}
    <div class="thumbnail">
        {% if user.is_authenticated and post.author == user %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
        {% endif %}
        <h3>{{ post.title }}</h1>
        <img class="img" src="{{ media_url }}{{ post.photo }}" alt="{{ post.photo }}"/>
        <div class="caption">
            <p>{{ post.text }}</p>
        </div>
    </div>
{% endblock %}